h1, h3  {
    display: flex;
    justify-content: center;
}


nav {
    background-color: #BF1E2E;
}


.contact-links {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.tech-list {
    display: flex;
    justify-content: space-around;
    width: 100%;

}